{% extends 'AppAdministracion/padre.html' %}

{% load static %}

{% block CAMBIOS %}

<!--
    {% if miFormualrio.errors %}
        <p style="color: red;">Están mal los datos, revisar</p> 
    {% endif %}

    <form action="/AppBiblioCine/buscar/" method="GET">
        <input type="text" name="autor" id="autor">
        <input type="submit" value="Buscar">
    </form>

-->

    <form action="{% url 'BuscarPelicula' %}" method="GET">
        <select name="campo">
            <option value="director">Director</option>
            <option value="titulo">Título</option>
            <option value="genero">Genero</option>
        </select>
        <input type="text" name="termino" />
        <input type="submit" value="Buscar" />
    </form>


{% endblock %}