{% extends 'AppAdministracion/padre.html' %}

{% load static %}

{% block CAMBIOS %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Libros</title>
    </head>
    <body>

        <div class="container">
        <div class="row d-flex justify-content-around">
        {% for l in libros %}
        <div class="card" style="width: 18rem;">
            <img src="{{l.portada.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{l.titulo}}</h5>
              <p class="card-text m-0">Autor: {{l.autor}}</p>
              <p class="card-text m-0">Genero: {{l.genero}}</p>
              <a href="{% url 'DetailLibros' l.pk %}" class="btn btn-primary">Ver recomendacion</a>
            </div>
            {% if user.is_superuser %}
            <a class="btn btn-danger" href="{% url 'EliminarLibros' l.titulo %}">Eliminar</a>
            <a class="btn btn-warning" href="{% url 'EditarLibros' l.titulo %}">Editar</a>
            {% endif %}
          </div>
        {% endfor %}
        </div>
        </div>
        <br>
        <a href="{% url 'ComentarioLibros' %}">Agregar nuevo comentario</a>
    </body>
    </html>

{% endblock %}