{% extends 'AppAdministracion/padre.html' %}

{% load static %}

{% block CAMBIOS %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comentarios</title>
    </head>
    <body>
        {% for c in comentarios %}
            <li>{{c}}</li>

            {% if user.is_authenticated and user == c.nombre %}

            <button>
                <a href="{% url 'EliminarComentarioLibros' c.id %}">Eliminar</a>
                <a href="{% url 'EditarComentarioLibros' c.id %}">Editar</a>
            </button>
            {% endif %}
        {% endfor %}
        <br>
        <a href="{% url 'ComentarioLibros' libro.id %}">Agregar nuevo comentario</a>
    </body>
    </html>

{% endblock %}