<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
</head>
<body>
    
        <h1>Libros</h1>
        <ul>
            {% for libro in object_list %}

                <li>
                    <p>NOMBRE: {{libro.titulo}} </p>
                    <p>
                        <a href="{% url 'DetailLibros' libro.id %}">Ver</a>
                        <a href="{% url 'EditLibros' libro.id %}">Editar</a>
                        <a href="{% url 'DeleteLibros' libro.id %}">Borrar</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
</body>
</html>