{% extends 'AppAdministracion/padre.html' %}

{% load static %}

{% block CAMBIOS %}

    <!-- En este lugar va lo que cambia y se asocia a la vista-->
    {% if miFormualrio.errors %}
        <p style="color: red;">Están mal los datos, revisar</p> 
    {% endif %}

    <p> Estamos buscando por: 
        {% if campo == 'director' %} 
            Director 
        {% elif campo == 'titulo' %} 
            Título
        {% elif campo == 'genero' %} 
            Género
        {% endif %} - {{termino}}</p>

    {% if peliculas %}
        <ul>
            {% for pelicula in peliculas %}
                <li><a href="{% url 'VerPelicula' pelicula.id %}">{{ pelicula.titulo }}</a></li>
                <li> {{pelicula.director}}</li>
                <li> {{pelicula.genero}}</li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>No hay datos con esa descripcion</p>
    {% endif %}
    <p style="color: red;">{{respuesta}}</p>

{% endblock %}