{% extends 'AppAdministracion/padre.html' %}

{% load static %}

{% block CAMBIOS %}

    <!-- En este lugar va lo que cambia y se asocia a la vista-->
    {% if miFormualrio.errors %}
        <p style="color: red;">Están mal los datos, revisar</p> 
    {% endif %}

    <p> Estamos buscando por: 
        {% if campo == 'autor' %} 
            Autor 
        {% elif campo == 'titulo' %} 
            Título
        {% elif campo == 'genero' %} 
            Género
        {% endif %} - {{termino}}</p>

    {% if libros %}
        <ul>
            {% for libro in libros %}
                <li><a href="{% url 'VerLibro' libro.id %}">{{ libro.titulo }}</a></li>
                <li> {{libro.autor}}</li>
                <li> {{libro.genero}}</li>
            {% endfor %}
            <strong><a href="{% url 'BusquedaLibro' %}">Otra búsqueda</a></strong>
        </ul>
    
    {% else %}
        <p>No hay datos con esa descripcion</p>

        <strong><a href="{% url 'BusquedaLibro' %}">Otra búsqueda</a></strong>
    {% endif %}
    <p style="color: red;">{{respuesta}}</p>

{% endblock %}