{% extends 'AppAdministracion/padre.html' %}
{% load static %}

{% block CAMBIOS %}
    <div class="text-center">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}

        {% if login_success %}
            <div class="alert alert-success" role="alert">
                {{ mensaje }}
                {% if url %}
                    <img height="40px" src="{{ url }}">
                {% endif %}
                <h3> Que bueno verte {{ user.username }}</h3>
            </div>
        {% elif not login_success and messages.success %}
            <div class="alert alert-danger" role="alert">
                {{ mensaje }}
                <h3>UPS! Inténtalo de nuevo.</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}

